@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext');

*{
    font-family: 'Roboto', sans-serif;
}

body{
	background: #fff !important;
}

body .container{
	background-color: #fff;
	padding: 20px;
	border: 2px solid #3F51B5;
	margin-top: 35vh;
	box-shadow: 0 5px 10px;
}

body .container .input-group{
	margin-bottom: 10px;
	width: 100%;
}

body .container .input-group input{
	background-color: #fff;
	box-shadow: none;
	border: none;
	color: #212121;
	border-bottom: 1px solid #3F51B5;
}

body .container .input-group input:hover{
	background-color: #fff;
	border: none;
	border-bottom: 2px solid #3F51B5;
}

body .container .input-group input:focus{
	background-color: #fff;
	border: none;
	border-bottom: 2px solid #3F51B5;
}

body .container #submit{
	font-weight: 900;
	background-color: #3F51B5;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	width: 100%;
}

body .container .waves-effect{
	border: none;
	border-radius: 0;
	font-weight: 900;
	background-color: #3F51B5;
	text-align: center;
	box-shadow: 0 3px 5px #333;
	height: 40px;
	line-height: 40px;
	color: #fff;
	margin: 0;
	padding: 0;
}


