@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext');

*{
    font-family: 'Roboto', sans-serif;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

html body .none{
	display: none;
}

body #notie-alert-outer{
	z-index: 998;
}

body .header .container .active{
	color: #fff;
	font-style: normal;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background: #3F51B5;
}

body .header .container .active:hover{
	color: #fff;
	font-style: normal;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background: #3F51B5;
}

body .header{
	background: #303F9F;
	box-shadow: 0 2px 5px 0 #333;
	border: none;
	color: #fff;
	z-index: 10;
}

body .header .container .menu_button{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container .menu_button:hover{
	color: #fff;
	background: #3F51B5 !important;
}

body .header .container #collapse-button{
	background-color: #303F9F;
	color: #fff;
	border: none;
	margin: 0;
	line-height: 33px;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #collapse{
	border: none;
}

body .content{
	padding: 0;
	z-index: 1;
}

#token{
	display: none;
}