@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext');

*{
    font-family: 'Roboto', sans-serif;
}

body #notie-alert-outer{
	z-index: 998;
}

body .header{
	background: #303F9F;
	box-shadow: 0 2px 5px 0 #333;
	border: none;
	color: #fff;
	z-index: 10;
}

body .header .container #profile{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #profile:hover{
	color: #fff;
	background: #3F51B5;
}

body .header .container #all{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #all:hover{
	color: #fff;
	background: #3F51B5;
}

body .header .container #group{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #group:hover{
	color: #fff;
	background: #3F51B5;
}

body .header .container #main{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #main:hover{
	color: #fff;
	background: #3F51B5;
}

body .header .container #collapse-button{
	background-color: #303F9F;
	color: #fff;
	border: none;
	margin: 0;
	line-height: 33px;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #collapse{
	border: none;
}

body .header .container #exit{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #exit:hover{
	color: #fff;
	background: #3F51B5;
}

#token{
	display: none;
}

#Temp{
	height: 150vh;
	background: #fff;
}

body .header .container #achievements{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #achievements:hover{
	color: #fff;
	background: #3F51B5;
}






