.avatar{
	height: 26vh;
	width: auto;
	border-radius: 100vh;
	box-shadow: 0 5px 20px #333;
	border: 2px solid #fff;
	margin-top: -8vh;
	float: left;
	z-index: 2;
}

.UserName{
	height: 20vh;
	background: #3F51B5;
	width: 100%;
	z-index: -1;
}

body .header .container #achievements{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 20px;
	text-transform: uppercase;
}

body .header .container #achievements:hover{
	color: #fff;
	background: #3F51B5;
}

.UserPanel{
	z-index: -1;
	height: 10vh;
	margin-top: -18vh;
	background-color: #fff;
}

.Button_Left{
	height: 5vh;
	background: #303F9F;
	text-align: center;
	line-height: 5vh;
	margin-top: 2.5vh;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	width: 15%;
	padding: 0;
	box-shadow: 0 3px 5px #333;
	float: left;
}

.Button_Left:hover{
	cursor: pointer;
}

.UserInf{
	box-shadow: inset 0 2px 5px 0 #333;
	z-index: -1;
	height: 100vh;
	margin-top: -8vh;
	background: #3F51B5;
}

.Name{
	z-index: 2;
	line-height: 5vh;
	color: #333;
	font-size: 50px;
	margin-top: 2.5vh;
	font-style: normal;
	text-transform: capitalize;
	float: left;
}

.Button_Right{
	height: 5vh;
	background: #303F9F;
	text-align: center;
	line-height: 5vh;
	margin-top: 2.5vh;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	width: 10%;
	padding: 0;
	box-shadow: 0 3px 5px #333;
	margin-left: auto;
	margin-right: 0;
	float: right;
}

.Button_Right:hover{
	cursor: pointer;
}





