@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext');

$default-primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$accent-color: #FF5252;
$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;
$divider-color: #BDBDBD;

@mixin user-select($param) {
  user-select: $param;
  -ms-user-select: $param;
  -moz-user-select: $param;
  -webkit-user-select: $param;
}

@mixin box-shadow($x, $y, $blur, $extension, $color) {
  box-shadow: $x $y $blur $extension $color;
  -moz-box-shadow: $x $y $blur $extension $color;
  -o-box-shadow: $x $y $blur $extension $color;
  -webkit-box-shadow: $x $y $blur $extension $color;
}

@mixin border-radius($param) {
  border-radius: $param;
  -moz-border-radius: $param;
  -webkit-border-radius: $param;
}

* {
  @include user-select(none);
  font-family: 'Roboto', sans-serif;
}

.mdl-layout-title, .mdl-layout-title, .mdl-navigation__link, .mdl-card__title-text {
  text-transform: capitalize;
}

.card_field_text {
  margin-left: 10px;
}

.mdl-tooltip {
  text-transform: none;
}

body {

  #notie-alert-outer{
    z-index: 1000;
  }

  .on_edit {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);

    .on_edit-click {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    .on_edit-card {
      z-index: 999;

      .card_field {
        width: 100%;

        .mdl-textfield {
          width: 100%;
        }

      }

    }

  }

}
