@import "main";

body {

  .mdl-card {
    width: 100%;
    min-height: 125px;
  }

  .mdl-card__title-text {
    font-size: 27px;
  }

  .mdl-card__title {

    .card_field {
      font-size: 24px;

      i {
        float: left;
        margin-top: 2px;
      }

      .card_field_text {
        float: right;
        margin: 0 0 0 10px;
        text-transform: capitalize;
      }
    }
  }

  #categories_list, #additional_settings{

    .mdl-card__title{

      .card_field{

        i{
          margin-top: 3px;
        }

      }

      .category-delete, .settings_switch{
        float: right;
        margin-left: auto;

      }

    }

  }

  #participants_card, #employees_card, #actions_card{
    padding: 0;

    table{
      width: 100%;

    }

  }

  #actions_card_table{

    td{
      text-transform: none;
    }

  }

}